.grid {
	display: grid;
}

.flex {
	display: flex;
}
.flex.column {
	flex-direction: column;
}
.flex.wrap {
	flex-wrap: wrap;
}
.gap {
	gap: 35px;
}
.gap-medium {
	gap: 20px;
}
.gap-small {
	gap: 15px;
}
.gap-smaller {
	gap: 10px;
}
.gap-5 {
	gap: 5px;
}
.pointer {
	cursor: pointer;
}

.horizontal-scrollable {
	overflow-x: visible;
	white-space: nowrap;
	scrollbar-width: thin;
}

@media only screen and (min-width: 767px) {
	.grid.responsive {
		grid-template-columns: repeat(1, 1fr);
	}
	.flex.responsive {
		flex-direction: column;
	}
}